/** My CSS Style */
.wrapper {
	width: 980px;
	margin: 0 auto;
}

#dashboard-side{
	background: #f2f2f2;
	min-height: 500px;
}

#dashboard-main{
	background: #f2f2f2;
	min-height: 500px;
}

.hide{
	display: none;
}